*{
    font-family: inherit;
    font-size: large;
    
}
/*Paleta de colores*/
:root {
    --main-color: #d7ced7 ;
    --second-color: #565656 ;
    --third-color:#76323F;
    --fourth-color: #c09f80; 
    --fifth-color: #9c7a9d ;
    --text-color1: #f2f2f2 ;
  }
/* Body */


body{
   background-color: var(--main-color);
}

/* Header, navbar, carousel */

.navbar-color{
    background-color:  var(--second-color);
}

.navbar-brand{
    color: var(--text-color1);
}

.navbar-brand-icon{
    height: 50px;
}

.navbar-brand:hover{
    color: var(--text-color1);
}

.btn-primary{
    background-color: var(--second-color) ;
    color: var(--text-color1);
    text-decoration:none;
}

.btn-primary:hover{
    background-color: var(--fourth-color)  ;
    color: var(--text-color1);
    border: 1px solid var(--fourth-color) ;
}

.navbar-nav{
    display: flex;
    flex-direction: row-reverse;
}

#UserLogId{

    margin: 10px;
    font-size: larger;
    color: whitesmoke;
}
.carousel-inner{
    height: 500px;
}
/* Main section */

.main-section{
    margin: 0;
    padding: 0;
}

.row{
    margin: 0;
}

.main-section-write-card , .main-section-presentation-card{
    color: black;
    background-color: #f2f2f2 ;
    border-radius: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.main-section-read-container{
    color: whitesmoke;
    background-color: #f2f2f2 ;
    border-radius: 0;
    margin: 10px;
    min-height: 150px;
    border-radius: 5px;
}

#textoForoId{
    min-height: 100px ;

}

/* mensajes */

.post{

    background-color: var(--fourth-color)   ;
    color:   black ;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* footer */

footer{
    background: #414141;
    padding: 10px 0 10px 0;
    color: aliceblue;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: var(--fifth-color);
    color: ghostwhite
  }
.bi:hover{
    cursor: pointer;
}

/* Register/login */

.col-login{
    margin-top: 10px;
    padding: 10px;
    background-color:   var(--fifth-color) ;
    color: whitesmoke;
}
.col-register{
    margin-top: 10px;
    padding: 10px;
    background-color:    var(--fifth-color) ;
    color:  var(--text-color1);
}